body {
    margin: 0;
    min-height: 100vh;
}

nav{
    opacity: 98%;
    box-shadow: 0 0 41px 7px rgba(0,0,0,0.49);
}

h1, h2, h3{
    display: block;
    width: 70%;
    margin: 0 auto 30px auto;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
}

h5{
    color: whitesmoke;
    margin-bottom: auto;
    margin-top: auto;
}

.accordion-header {
    width: 100%;
}

.error_Abfahrt{
    display: none;
    max-width: 350px;
}

.backgroundWS{
    background-color: whitesmoke;
}

.backgroundDimGrey{
    background-color: dimgrey;
}

.contentFlex {
    display: flex; /*flex so lang in eine zeile reinquetschen*/
    flex-direction: row; /*flex direction row --> reihe, (order),column --> blöcke*/
    padding: 20px;
    justify-content: center;
}

.text{
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

ul{
    list-style: none;
    padding-left: 20px;
}

label {
    font-weight: bold;
}

.formElement {
    font-weight: bold;
}

.radialButtonOption {
    font-weight: normal;
    margin-right: 15px;
}

.checkboxButton{
    width: 5%;
}

input {
    width: 100%;
    padding: 5px;
}

.imgHP {
    object-fit: contain;
    aspect-ratio: 4/2;
    width: 100%;
}